<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
      <div class="footer-col">
        <img src="{{ 'assets/hi_norsk.svg' | relative_url }}" alt="Logo Havforskningsinstituttet" style="width: 20%; padding-right: 9%;" />
        <img src="{{ 'assets/met_norsk.png' | relative_url }}" alt="Logo Meteorologisk institutt" style="width: 30%; padding-right: 9%;" />
        <img src="{{ 'assets/sintef.png' | relative_url }}" alt="Logo SINTEF" style="width: 30%;" />
      </div>
    </div>

  </div>
